{% extends "PunPals/base.html" %}

{% block title %}部屋作成{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container px-4 py-5 my-5 text-center">
    <i class="bi bi-house-add" style="font-size: 3rem;"></i>
    <h2 class="display-5 fw-bold">部屋作成</h2>
    <p class="lead">部屋名・パスワードは変更できません！！安全に保管してください。</p>
    <div class="col-lg-6 mx-auto">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">作成</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}