{% extends "PunPals/base.html" %}

{% block title %}ランキング{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
    <h2 class="display-5 fw-bold text-center">ランキング</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="検索">
      </form>

      {% if senseki_list %}
        {% if sort_by == "rankMean" %}
        <ol class="list-group">
          {% for record in senseki_list %}
            <li class="list-group-item">{{ record.user.username }} - {{ record.rankMean|floatformat:2 }}</li>
          {% endfor %}
        </ol>
        {% elif sort_by == "firstRate" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.firstRate|floatformat:2 }}%</li>
            {% endfor %}
          </ol>
        {% elif sort_by == "secondRate" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.secondRate|floatformat:2 }}%</li>
            {% endfor %}
          </ol>
        {% elif sort_by == "thirdRate" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.thirdRate|floatformat:2 }}%</li>
            {% endfor %}
          </ol>
        {% elif sort_by == "fourthRate" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.fourthRate|floatformat:2 }}%</li>
            {% endfor %}
          </ol>
        {% elif sort_by == "outRate" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.outRate|floatformat:2 }}%</li>
            {% endfor %}
          </ol>
        {% elif sort_by == "gameNum" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.gameNum }}</li>
            {% endfor %}
          </ol>
        {% elif sort_by == "scoreMean" %}
          <ol class="list-group">
            {% for record in senseki_list %}
             <li class="list-group-item">{{ record.user.username }} - {{ record.scoreMean|floatformat:2 }}</li>
            {% endfor %}
          </ol>
        {% endif %}
      {% else %}
        <p>該当者がいません。</p>
      {% endif %}
      
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button onclick="location.href='{% url 'room_home' username=username roomname=roomname %}'" class="btn btn-secondary">戻る</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  function updateSortByChoices() {
    var gameType = $('#id_game_type').val();
    var sortBySelect = $('#id_sort_by');
    if (gameType == 'senseki3') {
      sortBySelect.find('option[value="fourthRate"]').remove();
    } else {
      sortBySelect.empty();
      var options = [
        ['rankMean', '平均順位'],
        ['firstRate', '一着率'],
        ['secondRate', '二着率'],
        ['thirdRate', '三着率'],
        ['fourthRate', '四着率'],
        ['outRate', '飛び率'],
        ['gameNum', '局数'],
        ['scoreMean', '平均スコア'],
      ];
      options.forEach(function(opt) {
        sortBySelect.append(new Option(opt[1], opt[0]));
      });
    }
  }

  $('#id_game_type').change(updateSortByChoices);

  updateSortByChoices();
});
</script>
{% endblock %}